.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-content: center;
}

.galleryItem {
    border: 1px solid #808080;
}

.galleryItem:hover {
    cursor: pointer;
}